<div id="footer">
  <strong>Sushi-Fabric</strong> - Powered by <strong>Ruby on Rails 4.2.6</strong> - Produced by <strong><a href="/sushi_rank"><span style="color:#666666;">Sushi Lovers</span></a></strong>
</div>
