<div id="footer">
<strong>SUSHI</strong> - produced by <%= link_to image_tag("fgcz_logo.jpg"), "http://www.fgcz.ch" %> <%= link_to image_tag("sib_logo.jpg"), "http://sib.swiss" %> and <strong><a href="/sushi_rank"><span style="color:lightgrey;">SUSHI Lovers</span></a></strong>
</div>
