<div id="footer">
<strong>SUSHI</strong> - Powered by <strong>Ruby on Rails 4.2.6</strong> - Produced by <%= link_to image_tag("fgcz_logo.jpg"), "http://www.fgcz.ch" %> <%= link_to image_tag("sib_logo.jpg"), "http://sib.swiss" %> and <strong><a href="/sushi_rank"><span style="color:lightgrey;">Sushi Lovers</span></a></strong>
</div>
