<h3>Samples (Edit)</h3>
<%= params.inspect.to_s %><br />
<hr />
<table>
  <tr>
    <th>ID</th>           <td><%= @sample.id %></td>
  </tr><tr>
    <th>Name</th>         <td><%= @sample.name %></td>
  </tr>
</table>

