<h1>Project 948</h1>
<hr />
<h3>Job List</h3>

<table><tr><th>Job ID</th><th>Status</th><th>Result</th></tr>
<% @job_list.each do |job| %>
  <tr>
    <td><%= job[0] %></td><td><%= job[1] %></td>
    <td><a href='<%= @results[job[0]] %>'><%= @results[job[0]] %></a></td>
  </tr>
<% end %>
</table>
