<h1>Project <%= session[:project] %></h1>
<hr />
<h2>Submit Jobs</h2>
Job IDs: <%= @sushi_app.job_ids.join(',') %>, Next DataSet ID: <%= @sushi_app.next_dataset_id %><br /><br />
<%= button_to "Job List", "/job_monitoring" %>
