<script type="text/javascript">
  function gobackDataset(){
    var project_number = $("#project_number").val();
    var data_set_id = $("#data_set_id").val();
    if(data_set_id!=''){
      window.location.href = "/data_set/p" + project_number + "/" + data_set_id
    }else{
      alert("The DataSet was not found, the resubmission failed");
      window.location.href = "/data_set/"
    }
  }
  dispLoading("submitting...");
  setTimeout("gobackDataset()", 7000);
</script>
<h2>Resubmit Job</h2>
<%= hidden_field :project, :number, :value=>session[:project] %>
<%= hidden_field :data_set, :id, :value=>@data_set_id %>
Now job(s) are being submitted...and automatically back to DataSet view
<p class="alert">DO NOT close this window please</p>
