<h1>Project <%= session[:project] %> <span style="color:gray;font-size:medium">Delete DataSet</span></h1>
<hr />
<h3>Log</h3>
<% unless @command.empty? %>
  The following command have been executed<br />
<br />
<%= @command %>
<% end %>
<table>
<hr />
<%= button_to "Go gstore", "/projects/p#{session[:project]}", :method=>:get %>
<%= link_to "/projects/p#{session[:project]}","/projects/p#{session[:project]}" %>








