<h1>Project 948</h1>

<hr />
<h3>Data</h3>
<ol>
  <li>20120921-hir_hay1_800_R1.fastq.gz</li>
</ol>

<hr />
<h3>Application</h3>

<ul>
  <li>FastQC</li>
</ul>

<hr />
<h3>Parameters</h3>
(Under construction)
<br />
<br />

<%= button_to('Run FastQC', :action => 'run_fastqc') %>

