<h1>Project 948</h1>
<hr />
params <%= @params.inspect.to_s %><br /> <br />
sample_ids <%= @sample_ids.join(", ") %><br /><br />
inputs_string <%= @inputs_string.join(', ') %><br /><br />
Job submitted <br />
Job ID: <%= @job_id %>
<br />
