/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jstree-default
 *= require bootstrap.min
 */
a { 
  color: #337ab7;
}
p.notice, p.alert {
  position: absolute;
  top: 0;
  width: 810px;
  margin: auto;
  margin-top: 0px;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  border: 1px dotted black;
  border-top: 0px solid transparent;
  padding: 10px;
  text-align: center;
}

p.notice:hover, p.alert:hover {
  cursor: pointer;
}

p.alert {
  background-color: pink;
  border-color: coral;
  color: red;
  font-weight: bold;
}

p.notice {
  background-color: #57E964;
  border-color: #41A317;
  color: #348017;
  font-weight: bold;
}

.attention {
  background: #FA5858;
}

.resizable {
  resize: both;
}

/* Custom bell icon */
.bell-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50% 50% 0 0;
  position: relative;
  margin-right: 5px;
}

.bell-icon:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: #333;
  border-radius: 50%;
}

.bell-icon:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
}
