// Place all the styles related to the data_set controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.alert {
  color:red;
  font-weight:bold;
}
blockquote {
  color:grey;
  font-style: italic;
}

td:hover {
  background:#ffffff; 
  text-decoration:none;
}
td.data_set_header {
  color:gray;
  font-size:smaller;
}

td.check_box {
  text-align: center;
}


#loading{
    border:1px dashed #999;
    padding:15px;
    position: fixed;
    top:50%;
    left:50%;
    background-color:#FFF;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}

#loading .loadingMsg{
    text-align:center;
    padding-top:100px;
    width:100px;
    background-image:url("/assets/loading.gif");
    background-position: center top;
    background-repeat: no-repeat;
}

.button_to{
  position: relative; 
  display: inline;
}

