body{
    height:100%;
    background: linear-gradient(0deg, #122D4A,#9ECBD3) fixed no-repeat;
    font-family: museo300, Arial, sans-serif;
}

div#wrapper {
  min-height: 800px;
  margin: 0px auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 85px 5px;
}

div#header {
  height: 80px;
  padding: 0px;
}

div#header h1 {
  padding: 25px 0 0 0;
  margin: 0px;
  font-size: 4em;
  font-family: italic;
  color: transparent;
  background-image: url(/assets/sushifabric.png);
  background-repeat: no-repeat;
  background-position: left center;
}

div#header nav {
  float: right;
  padding: 4px;
  background-color: white;
  border: 1px solid white;
}

div#header nav a {
  color: gray;
  text-decoration: none;
}

div#header nav a:hover {
  color: red;
}

div#header, div#footer {
  width: 100%;
  margin: 0px auto;
}

div#footer {
  color: lightgrey;
  text-align: center;
  margin-top: 10px;
}

div#contents {
  width: 80%;
  min-height: 450px;
  background-color: #fff;
  color: #000;
  margin: 25px auto 0px auto;
  padding: 10px 15px 15px 15px;
  border: solid 1px #ccc;
  border-radius: 2px;
}

table {
  width: 100%;
  border: none;
}

table tr td, table tr th {
  text-align: left;
  border: none;
}

table tr th {
  border-bottom: 2px solid black;
}

/*
table tr:nth-child(even) {
	background: #bed2df;
}
*/
#login_form_wrapper {
  width: 800px;
  height: 300px;
  background-image: url(/assets/makisushi.png);
  background-position: 80px 50px;
  background-repeat: no-repeat;
}

#login_form {
  width: 400px;
  float: right;
  margin-right: 60px;
  margin-top: 20px;
  text-align: center;
}

#login_form #info {
  margin-bottom: 1em;
  border:1px solid lightgray;
  background-color: #ededed;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  opacity: 0.85;
}

#login_form #info h1 {
  font-size: 1em;
  font-weight: normal;
}

#login_form #info h1 em {
  font-size: 1.2em;
  font-weight: bold;
}

#login_form #links p {
  font-size: small;
  margin: 0em;
}
