<meta http-equiv="refresh" content="7;URL=/data_set/p<%= session[:project] %>/<%= @data_set_id %>">
<script type="text/javascript">
  dispLoading("submitting...");
</script>
<h2>Submit Jobs</h2>
Now job(s) are being submitted...and automatically back to DataSet view
<p class="alert">DO NOT close this window please</p>
