<div id="header">
  <%= image_tag 'sushi.png', :size => '980x80', :alt => 'logo' %>
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>
