<div id="header">
  <nav id="login">
  <% if ! session.include? :basket
       session[:basket] = Array.new()
     end
     if session[:basket].empty? %>
       <%= "Plate is empty!" %><%
     else %>
       <%= session[:basket].count.to_s+" sushi(s) on your plate." %><%
     end
  %>
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
  </nav>
  <h1>SushiFabric</h1>
</div>
