<h1>Projects</h1>
<p>Here is a list of all the projects you have access to.</p>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @projects.reverse.each do |p| %>
    <tr>
      <td><%= link_to "p"+p[:@id], project_path(p[:@id]) %></td>
      <td><%= p[:name] %></td>
    </tr>
  <% end %>
</table>
