<div id="login_form_wrapper">
  <div id="login_form">
    <div id="info">
      <h1>Sign in to <br /><em>SushiFabric</em></h1>
      
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <p>
          <input id="user_login" name="user[login]"
                 size="30" type="text" value=""
                 placeholder="Username"/>
        </p>

        <p>
          <input id="user_password" name="user[password]"
                 size="30" type="password"
                 placeholder="Password"/>
        </p>
        <p>
          <input name="user[remember_me]" type="hidden" value="0" />
          <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
          <label for="user_remember_me">Remember me on this computer</label>
        </p>
        <p>
          <%= f.submit "Sign in" %>
        </p>
      <% end %>
    </div>
    <div id="links">
      <p><a href="/sushi_doc.html">Sushi Documentation</a> / <a href="http://fgcz-sushi-demo.uzh.ch">Sushi Demo Server</a></p>
    </div>
<!--
    <div id="links">
      <p>If you don't have an account <a href="/users/sign_up">sign up</a> now.</p>
      <p><a href="/users/password/new">Forgot your password</a>?</p>
    </div>
-->
  </div>
</div>
