<script type="text/javascript">
$(document).ready(function(){
    $('.dt').DataTable();
});
</script>
<h1>SUSHI Applications</h1>
<form>
  <button type="button" id="refresh_sushi_table">refresh</button>
</form>
<hr />
<%= render :partial => '/sushi_application/sushi_application_table' %>

