// Place all the styles related to the data_set controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.alert {
  color:red;
  font-weight:bold;
}
blockquote {
  color:grey;
  font-style: italic;
}
