// Place all the styles related to the data_set controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.alert {
  color:red;
  font-weight:bold;
}
blockquote {
  color:grey;
  font-style: italic;
}

td:hover {
  background:#ffffff; 
  text-decoration:none;
}
td span {
  display:none; 
  padding:0px 3px; 
  margin-left:8px;
}
td:hover span {
  display:inline; 
  position:absolute; 
  background:#ffffff; 
  border:1px solid #cccccc; 
  color:#6c6c6c;
}

